.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--berkeley-blue);
  color: var(--honeydew);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--honeydew);

    &:hover {
      color: var(--non-photo-blue);
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      color: var(--honeydew);
      font-weight: 500;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0%;
        height: 2px;
        background-color: var(--non-photo-blue);
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .logout-btn {
      background-color: var(--red-pantone);
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      font-weight: bold;
      color: var(--honeydew);

      &:hover {
        background-color: var(--color-accent-hover);
      }
    }
  }
}

.welcome-msg {
    margin-right: 5px;
    font-weight: bolder;
    font-size: large;
    color: var(--non-photo-blue);
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--berkeley-blue);
  text-decoration: none;
  cursor: pointer;

  img.logo {
    height: 36px;
    width: 36px;
    object-fit: contain;
  }
}
